:root {
  --black: #222222;
  --pink-bkg: #F1E4E6;
  --pink-color: #F09BA7;
  --pink-price: #F16D7F;
  --white-color: #FFFFFF;
  --grey-bkg: #F8F8F8;
  --grey: #9F9F9F;
  --grey-text: #5D5D5D;
  --grey-form: #E1E1E1;
  --black-original: #000000;
  --black-bkg: #222224;
  --white-text: #FBFBFB;
  --white: #fff;
  --grey-brdr: #A4A4A4; }

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 16px; }

.container {
  width: 1140px;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; }

.header {
  position: relative;
  background-color: var(--black);
  min-height: 75px; }

.header__menu-wrp {
  position: relative; }

.header__nav {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--black-original);
  top: 100%;
  right: 0;
  padding-top: 37px;
  padding-left: 34px;
  display: none;
  background-color: var(--white-color);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 232px;
  height: 764px; }

.header__nav-title {
  margin-bottom: 24px; }

.nav-sub-item__link-title {
  text-decoration: none;
  color: var(--pink-price);
  margin-top: 24px; }

.nav-sub-item__list {
  margin-top: 24px;
  margin-bottom: 20px; }

.nav-sub-item__list-item {
  margin-bottom: 11px; }

.nav-sub-item__list-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  text-transform: none;
  color: var(--grey-text);
  margin: 10px; }

.header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px; }

.header__logo-form-wrp {
  display: flex; }

.header__search {
  margin: 0 0 0 41px; }

.header__link {
  margin: 0 0 0 33px; }

.header__menu-btn {
  border: 0px solid;
  background-color: transparent; }

.header__menu-btn:hover + .header__nav,
.header__menu-btn:focus + .header__nav {
  display: block; }

.brand {
  display: flex;
  margin: 0 0 63px; }

.brand__title-wrp {
  flex-grow: 1;
  background-color: var(--pink-bkg);
  display: flex;
  align-items: center;
  padding: 0 0 0 92px; }

.brand__title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase; }

.brand__subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  display: block; }

.brand__subtitle-pink {
  color: var(--pink-color); }

.information {
  background-color: var(--black-bkg);
  min-height: 341px; }

.information__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.information__item {
  width: 360px;
  min-height: 341px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.information__item-img {
  margin-top: auto; }

.information__item-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white-text);
  margin-top: 25px;
  margin-bottom: 16px; }

.information__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: var(--white-text);
  margin-bottom: 104px; }

.legends {
  background-color: var(--black-bkg); }

.legends__wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.legends__wrp-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: var(--white-text);
  margin-top: 30px;
  margin-bottom: 30px; }

.legends__list {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px; }

.legends__item {
  margin-left: 7px; }

.products__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: var(--black); }

.products__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
  margin-bottom: 48px; }

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.products__item {
  position: relative;
  width: 360px;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-bkg);
  margin-bottom: 30px; }

.products__item-link__item-img {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.products__item-overlay:before {
  display: none;
  content: '';
  width: 100%;
  min-height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0; }

.products__item:hover .products__item-overlay:before,
.products__item:hover .products__item-link__item-img {
  display: block; }

.products__item-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--black-original);
  margin: 26px 0 12px 18px; }

.products__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: var(--grey-text);
  margin: 0 0 18px 18px; }

.products__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--pink-price);
  margin: 0 0 20px 18px; }

.products__btn {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--pink-color);
  padding: 14px 38px;
  border: 1px solid; }

.products__btn:hover {
  background-color: var(--pink-color);
  color: var(--white-text); }

.products__btn-wrp {
  display: flex;
  justify-content: center;
  margin-bottom: 95px; }

.review {
  background-image: url(../img/photo_subscribe.png);
  background-size: cover;
  min-height: 448px; }

.review__wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.review__content {
  display: flex;
  align-items: center;
  flex-direction: column; }

.review__content-img {
  margin-top: 97px;
  margin-bottom: 30px; }

.review__content-quote {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  max-width: 360px;
  color: var(--black-bkg); }

.review__sub {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px; }

.review__sub-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  display: block; }

.review__sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px; }

.review__sub-form__email {
  border: none;
  background-color: var(--grey-form);
  width: 300px;
  height: 49px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 22px;
  text-align: left;
  border-radius: 31px 0px 0px 31px; }

.review__sub-form__btn {
  border: none;
  width: 100px;
  height: 51px;
  background-color: var(--pink-price);
  border-radius: 0px 31px 31px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white); }

.review__sub-form {
  display: flex; }

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.sales__item {
  width: 360px;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 30px; }

.sales__item--woman {
  background-image: url(../img/for_woman.png); }

.sales__item--man {
  background-image: url(../img/for_man.png); }

.sales__item--kids {
  background-image: url(../img/for_kids.png); }

.sales__item--shoes {
  background-image: url(../img/accesories.png);
  width: 100%;
  min-height: 180px;
  margin-bottom: 97px; }

.sales__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--white-color); }

.sales__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--pink-color); }

.title {
  height: 148px;
  background-color: var(--pink-bkg);
  margin-bottom: 64px; }

.title__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--pink-price);
  padding-top: 59px; }

  .feature__registration__username-title, .feature__registration__data-title {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: var(--grey-text);
    margin-bottom: 20px; }
  
  .feature__registration__username-first_name, .feature__registration__username-second_name, .feature__registration__data-email, .feature__registration__data-password {
    width: 342px;
    height: 44px;
    border: 1px solid;
    border-color: var(--grey-brdr);
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    padding-left: 16px;
    margin-bottom: 16px; }
  
  .feature__wrp {
    display: flex; }
  
  .feature__registration__username-radiocheck_label {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px; }
  
  .feature__registration__username-radiocheck_radio {
    margin-top: 31px;
    margin-bottom: 35px; }
  
  .feature__registration__subtitle {
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    color: var(--grey);
    width: 358px;
    margin-bottom: 39px; }
  
  .feature__registration__btn {
    border: none;
    background-color: var(--pink-price);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text);
    width: 167px;
    height: 50px;
    margin-bottom: 96px; }
  
  .feature__registration__btn-arrow {
    padding-left: 20px;
    fill: var(--white-text); }
  
  .feature__information__title, .feature__information__subtitle, .feature__information__list {
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    color: var(--black-original);
    margin-bottom: 22px; }
  
  .feature__information__title {
    text-transform: uppercase; }
  
  .feature__information__item {
    position: relative;
    margin-bottom: 16px;
    left: 40px; }
  
  .feature__information__item:before {
    content: '';
    width: 15px;
    height: 15px;
    top: 8px;
    left: -40px;
    position: absolute;
    background-image: url(../img/done.svg);
    background-size: 20px 16px; }