:root {
  --black: #222222;
  --pink-bkg: #F1E4E6;
  --pink-color: #F09BA7;
  --pink-price: #F16D7F;
  --white-color: #FFFFFF;
  --grey-bkg: #F8F8F8;
  --grey: #9F9F9F;
  --grey-text: #5D5D5D;
  --grey-form: #E1E1E1;
  --black-original: #000000;
  --black-bkg: #222224;
  --white-text: #FBFBFB;
  --white: #fff;
  --grey-brdr: #A4A4A4;
  --grey-product-bkg: #F7F7F7; }

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 14px;
  line-height: 16px; }

.container {
  width: 61%;
  margin: 0 auto; }

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px; }

@media (max-width: 1599px) {
  .container {
    width: 95%; } }
@media (max-width: 767px) {
  .container {
    width: 95%; } }
.header {
  position: relative;
  background-color: var(--black);
  min-height: 75px; }

.header__menu-wrp {
  position: relative; }

.header__nav {
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--black-original);
  top: 100%;
  right: 0;
  padding-top: 37px;
  padding-left: 34px;
  display: none;
  background-color: var(--white-color);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  width: 232px;
  height: 764px;
  z-index: 10; }

.header__nav-title {
  margin-bottom: 24px; }

.header__nav-sub-item__link-title {
  text-decoration: none;
  color: var(--pink-price);
  margin-top: 24px; }

.header__nav-sub-item__list {
  margin-top: 24px;
  margin-bottom: 20px; }

.header__nav-sub-item__list-item {
  margin-bottom: 11px; }

.header__nav-sub-item__list-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-decoration: none;
  text-transform: none;
  color: var(--grey-text);
  margin: 10px; }

.header__nav-sub-item__list-link:hover, .header__nav-sub-item__link-title:hover {
  color: var(--pink-color); }

.header__nav-sub-item__list-link:focus, .header__nav-sub-item__link-title:focus {
  color: var(--grey-text); }

.header__nav-sub-item__list-link:active, .header__nav-sub-item__link-title:active {
  color: var(--pink-price); }

.header__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px; }

.header__logo-form-wrp {
  display: flex; }

.header__link {
  margin: 0 0 0 33px; }

.header__menu-btn {
  border: 0px solid;
  background-color: transparent; }

.header__menu-btn:hover + .header__nav,
.header__menu-btn:focus + .header__nav {
  display: block; }

.header__search {
  display: flex;
  align-items: center; }

.header__search-form_btn {
  box-sizing: border-box;
  margin: 0 0 0 41px;
  border: none;
  background-color: transparent; }

.header__search-form_input {
  display: none;
  border: none;
  background-color: var(--grey-form);
  width: 300px;
  height: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-left: 10px;
  padding-left: 22px;
  text-align: left;
  border-radius: 31px 31px 31px 31px; }

.header__search-form_btn:focus + .header__search-form_input,
.header__search-form_btn:hover + .header__search-form_input {
  display: block; }

.header__search-form_btn-path:hover, .header__search-form_btn-path:active, .header__search-form_btn-path:focus {
  fill: var(--pink-color); }

@media (max-width: 1599px) {
  .header__link {
    margin: 0 0 0 16px; } }
@media (max-width: 767px) {
  .header__link-hide {
    display: none; }

  .header__search-form_input {
    width: 150px;
    height: 30px; } }
.brand {
  display: flex;
  margin: 0 0 63px; }

.brand__img {
  object-fit: cover; }

.brand__title-wrp {
  position: relative;
  flex-grow: 1;
  background-color: var(--pink-bkg);
  display: flex;
  align-items: center;
  padding: 0 0 0 92px; }

.brand__title {
  position: relative;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  text-transform: uppercase; }

.brand__title-wrp::before {
  position: absolute;
  content: '';
  background-color: var(--pink-price);
  width: 12px;
  height: 92px;
  left: 64px; }

.brand__subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  display: block; }

.brand__subtitle-pink {
  color: var(--pink-color); }

@media (max-width: 1599px) {
  .brand__img {
    min-height: 367px;
    width: 50%; } }
@media (max-width: 767px) {
  .brand {
    min-height: 367px; }

  .brand__img {
    display: none; } }
.feature__registration__username-title, .feature__registration__data-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: var(--grey-text);
  margin-bottom: 20px; }

.feature__registration__username-first_name, .feature__registration__username-second_name, .feature__registration__data-email, .feature__registration__data-password {
  width: 342px;
  height: 44px;
  border: 1px solid;
  border-color: var(--grey-brdr);
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding-left: 16px;
  margin-bottom: 16px; }

.feature__wrp {
  display: flex; }

.feature__registration__username-radiocheck_label {
  font-size: 11px;
  font-weight: 300;
  line-height: 13px; }

.feature__registration__username-radiocheck_radio {
  margin-top: 31px;
  margin-bottom: 35px; }

.feature__registration__subtitle {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: var(--grey);
  width: 358px;
  margin-bottom: 39px; }

.feature__registration__btn {
  border: none;
  background-color: var(--pink-price);
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-text);
  width: 167px;
  height: 50px;
  margin-bottom: 96px; }

.feature__registration__btn-arrow {
  padding-left: 20px;
  fill: var(--white-text); }

.feature__information__title, .feature__information__subtitle, .feature__information__list {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  color: var(--black-original);
  margin-bottom: 22px; }

.feature__information__title {
  text-transform: uppercase; }

.feature__information__item {
  position: relative;
  margin-bottom: 16px;
  left: 40px; }

.feature__information__item:before {
  content: '';
  width: 15px;
  height: 15px;
  top: 8px;
  left: -40px;
  position: absolute;
  background-image: url(../img/done.svg);
  background-size: 20px 16px; }

.information {
  background-color: var(--black-bkg);
  min-height: 341px; }

.information__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.information__item {
  width: 360px;
  min-height: 341px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.information__item-img {
  margin-top: auto; }

.information__item-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: var(--white-text);
  margin-top: 25px;
  margin-bottom: 16px; }

.information__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  text-align: center;
  color: var(--white-text);
  margin-bottom: 104px; }

@media (max-width: 1599px) {
  .information__list {
    align-items: center;
    flex-direction: column; }

  .information__item {
    max-width: auto;
    min-height: auto; }

  .information__item-img {
    margin-top: 48px; }

  .information__item-text {
    margin-bottom: 48px; } }
.legends {
  background-color: var(--black-bkg); }

.legends__wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.legends__wrp-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  color: var(--white-text);
  margin-top: 30px;
  margin-bottom: 30px; }

.legends__list {
  display: flex;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px; }

.legends__item {
  background-color: var(--white);
  width: 32px;
  height: 32px;
  margin-left: 7px; }

.legends__item-img {
  display: block;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto; }

.legends__item-img__path {
  fill: var(--black-bkg); }

.legends__item-img__path:hover, .legends__item:hover, .legends__item-img__path:focus, .legends__item:focus, .legends__item-img__path:active, .legends__item:active {
  background-color: var(--pink-price);
  fill: var(--white); }

@media (max-width: 767px) {
  .legends__wrp {
    flex-direction: column-reverse;
    align-items: center; } }
.products__title {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: var(--black); }

.products__subtitle {
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
  margin-bottom: 48px; }

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.products__item {
  position: relative;
  width: 360px;
  min-height: 580px;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-bkg);
  margin-bottom: 30px; }

.products__item-link__item-img {
  fill: none;
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); }

.products__item-link__item-img-wrp {
  fill: var(--white); }

.products__item-link__item-img:hover {
  fill: var(--pink-price); }

.products__item-link__item-img:focus, .products__item-link__item-img:active {
  fill: var(--pink-color); }

.products__item-overlay:before {
  display: none;
  content: '';
  width: 100%;
  min-height: 420px;
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0; }

.products__item:hover .products__item-overlay:before,
.products__item:hover .products__item-link__item-img {
  display: block; }

.products__item-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--black-original);
  margin: 26px 0 12px 18px; }

.products__item-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: var(--grey-text);
  margin: 0 0 18px 18px; }

.products__item-price {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--pink-price);
  margin: 0 0 20px 18px; }

.products__btn {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: var(--pink-color);
  padding: 14px 38px;
  border: 1px solid; }

.products__btn:hover {
  background-color: var(--pink-color);
  color: var(--white-text); }

.products__btn:focus {
  background-color: var(--pink-bkg);
  color: var(--white-text); }

.products__btn:active {
  background-color: var(--pink-price);
  color: var(--white-text); }

.products__btn-wrp {
  display: flex;
  justify-content: center;
  margin-bottom: 95px; }

.product__wrp__mrgn {
  margin-bottom: 128px; }

.products__item-grid__1 {
  grid-area: item-1; }

.products__item-grid__2 {
  grid-area: item-2; }

.products__item-grid__3 {
  grid-area: item-3; }

.products__item-grid__4 {
  grid-area: item-4; }

.products__item-grid__5 {
  grid-area: item-5; }

.products__item-grid__6 {
  grid-area: item-6; }

.products__item-grid__7 {
  grid-area: item-7; }

.products__item-grid__8 {
  grid-area: item-8; }

.products__item-grid__9 {
  grid-area: item-9; }

.products__list-grid {
  display: grid;
  justify-content: space-between;
  grid-template-areas: "item-1 item-2 item-3" "item-4 item-5 item-6" "item-7 item-8 item-9";
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  margin-bottom: 0px; }

.review {
  background-image: url(../img/photo_subscribe.png);
  background-size: cover;
  min-height: 448px; }

.review__wrp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.review__content {
  display: flex;
  align-items: center;
  flex-direction: column; }

.review__content-img {
  margin-top: 97px;
  margin-bottom: 30px; }

.review__content-quote {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  max-width: 360px;
  color: var(--black-bkg); }

.review__sub {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 150px; }

.review__sub-subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  display: block; }

.review__sub-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px; }

.review__sub-form__email {
  border: none;
  background-color: var(--grey-form);
  width: 300px;
  height: 49px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  padding-left: 22px;
  text-align: left;
  border-radius: 31px 0px 0px 31px; }

.review__sub-form__email:hover, .review__sub-form__email:focus {
  outline: 1px solid var(--pink-price); }

.review__sub-form__btn {
  border: none;
  width: 100px;
  height: 51px;
  background-color: var(--pink-price);
  border-radius: 0px 31px 31px 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--white); }

.review__sub-form__btn:hover, .review__sub-form__btn:focus, .review__sub-form__btn:active {
  background-color: var(--pink-color); }

.review__sub-form {
  display: flex; }

@media (max-width: 1599px) {
  .review__wrp {
    flex-direction: column; }

  .review__sub-form__email {
    margin-bottom: 140px; } }
@media (max-width: 767px) {
  .review__sub-form__email {
    width: 200px;
    margin-bottom: 110px; } }
.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.sales__item {
  width: 31%;
  min-height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 30px;
  background-size: cover; }

.sales__item--woman {
  background-image: url(../img/for_woman.png); }

.sales__item--man {
  background-image: url(../img/for_man.png); }

.sales__item--kids {
  background-image: url(../img/for_kids.png); }

.sales__item--shoes {
  background-image: url(../img/accesories.png);
  min-height: 180px;
  width: 100%;
  margin-bottom: 97px; }

.sales__item-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--white-color); }

.sales__item-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--pink-color); }

@media (max-width: 1599px) {
  .sales__item {
    width: 31%; }

  .sales__item--shoes {
    width: 100%;
    min-height: 168px; } }
@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    min-height: 247px; }

  .sales__item--shoes {
    width: 100%;
    min-height: 111px; } }
.title {
  height: 148px;
  background-color: var(--pink-bkg);
  margin-bottom: 64px; }

.title__subtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--pink-price);
  padding-top: 59px; }

.carousel {
  width: auto;
  height: 777px;
  background-color: var(--grey-product-bkg); }

.carousel-item__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 724px; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: var(--grey-brdr); }

.merchandise__box {
  position: relative;
  margin-top: -100px;
  width: auto;
  height: 601px;
  border: 1px solid var(--grey-product-bkg);
  background-color: white;
  margin-bottom: 129px; }

.merchandise__box-title {
  position: relative;
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  text-transform: uppercase;
  color: var(--pink-price);
  margin-top: 64px;
  text-align: center; }

.merchandise__box-title::after {
  position: absolute;
  content: '';
  background-color: var(--pink-price);
  width: 63px;
  height: 3px;
  top: 30px;
  left: 540px; }

.merchandise__box-subtitle {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--grey-text);
  margin-top: 64px;
  margin-bottom: 48px;
  text-align: center; }

.merchandise__box-text {
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  max-width: 560px;
  min-height: auto;
  text-align: center;
  margin-bottom: 32px; }

.merchandise__box-price {
  position: relative;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  color: var(--pink-price);
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.merchandise__box-price::after {
  position: absolute;
  content: '';
  background-color: var(--grey);
  width: 641px;
  height: 0.1px;
  top: 100px;
  left: 250px; }

.merchandise__box-form-select__wrp {
  display: flex;
  justify-content: center;
  margin-top: 130px;
  margin-bottom: 48px; }

.merchandise__box-form-select__1, .merchandise__box-form-select__2, .merchandise__box-form-select__3 {
  display: block;
  width: auto;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.merchandise__box-btn {
  margin-left: 464px;
  margin-right: auto; }

.breadcrumbsection {
  height: 148px;
  background-color: var(--pink-bkg); }

.breadcrumb-item__link {
  text-transform: uppercase;
  text-decoration: none;
  color: var(--grey-text); }

.breadcrumb-item__link-active {
  color: var(--pink-price);
  text-transform: uppercase; }

.breadcrumbsection__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--pink-price); }

.breadcrumbsection__wrp {
  display: flex;
  justify-content: space-between;
  padding-top: 59px; }

.bascket {
  margin-top: 96px;
  margin-bottom: 128px;
  display: flex;
  justify-content: space-between; }

.basket__number-list {
  position: relative;
  padding-left: 0px; }

.basket__number-list__item {
  width: 652px;
  min-height: 306px;
  margin-bottom: 40px;
  display: flex;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2); }

.basket__number-list__item-title--wrp {
  position: relative;
  padding: 22px 0 0 31px; }

.basket__number-list__item-title {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--black-original);
  margin-bottom: 42px; }

.basket__number-list__item-price,
.basket__number-list__item-color,
.basket__number-list__item-size,
.basket__number-list__item-quantity {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 8px;
  color: var(--grey-text); }

.basket__number-list__item-price__total {
  color: var(--pink-price); }

.basket__number-list__item-quantity::after {
  position: absolute;
  content: '2';
  width: 43px;
  height: 24px;
  text-align: center;
  border: 1px solid #eaeaea;
  margin-left: 20px; }

.basket__number-list__item-cancel, .basket__number-list__item-cancel__path {
  position: absolute;
  top: 28px;
  right: -52px; }

.basket__number-btn--wrp {
  display: flex;
  justify-content: space-between;
  margin-top: 72px; }

.basket__number-btn__clear {
  border: 1px solid #a4a4a4;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  width: 234px;
  height: 49px; }

.basket__number-btn__continue {
  border: 1px solid #a4a4a4;
  background-color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  padding: 15px 40px; }

.bascket__info {
  margin-left: 130px; }

.bascket__info-data__title {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 20px; }

.bascket__info-data__city, .bascket__info-data__state, .bascket__info-data__postcode {
  width: 342px;
  height: 44px;
  border: 1px solid;
  border-color: var(--grey-brdr);
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  padding-left: 16px;
  margin-bottom: 20px; }

.bascket__info-btn__quote {
  border: 1px solid #a4a4a4;
  width: 100px;
  height: 35px;
  background-color: white;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  margin-bottom: 57px; }

.bascket__info-total {
  position: relative;
  width: 360px;
  height: 214px;
  background-color: var(--grey-bkg);
  padding: 39px 34px; }

.bascket__info-total__sub {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  text-align: right; }

.bascket__info-total__sub-price, .bascket__info-total__grand-price {
  margin-left: 20px; }

.bascket__info-total__grand {
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  text-align: right;
  margin-bottom: 60px; }

.bascket__info-total__grand::after {
  position: absolute;
  content: '';
  background-color: #e2e2e2;
  width: 275px;
  height: 0.1px;
  top: 104px;
  left: 43px; }

.bascket__info-total__grand-price {
  color: var(--pink-price);
  font-weight: 700; }

.bascket__info-total__checkout {
  background-color: var(--pink-price);
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  box-sizing: border-box;
  padding: 15px 40px;
  margin-left: 10px; }

.filter__box-form-select__wrp {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 65px; }

.filter__box-form-select__1, .filter__box-form-select__2, .filter__box-form-select__3 {
  display: block;
  width: auto;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #212529;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
