@import './variables.scss';
@import './general.scss';
@import './blocks/header';
@import './blocks/brand';
@import './blocks/feature';
@import './blocks/information';
@import './blocks/legends';
@import './blocks/product';
@import './blocks/review';
@import './blocks/sales';
@import './blocks/title';
@import './blocks/carousel';
@import './blocks/merchandise';
@import './blocks/breadcrumbsection';
@import './blocks/basket';