:root {
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F09BA7;
    --pink-price: #F16D7F;
    --white-color: #FFFFFF;
    --grey-bkg: #F8F8F8;
    --grey: #9F9F9F;
    --grey-text: #5D5D5D;
    --grey-form: #E1E1E1;
    --black-original: #000000;
    --black-bkg: #222224;
    --white-text: #FBFBFB;
    --white: #fff;
    --grey-brdr: #A4A4A4;
}
