.legends {
    background-color: var(--black-bkg);
}

.legends__wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.legends__wrp-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    color: var(--white-text);
    margin-top: 30px;
    margin-bottom: 30px;
}

.legends__list {
    display: flex;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.legends__item {
    background-color: var(--white);
    width: 32px;
    height: 32px;
    margin-left: 7px; 
}

.legends__item-img {
    display: block;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
}

.legends__item-img__path {
    fill: var(--black-bkg);
 
}

.legends__item-img__path:hover, .legends__item:hover, .legends__item-img__path:focus, .legends__item:focus, .legends__item-img__path:active, .legends__item:active {
    background-color: var(--pink-price);
    fill: var(--white);
}


@media (max-width: 767px) {
    .legends__wrp {
        flex-direction: column-reverse;
        align-items: center;
    }
}