.products__title {
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
}

.products__subtitle {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: var(--grey);
    margin-bottom: 48px;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    }

.products__item {
    position: relative;
    width: 360px;
    min-height: 580px;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-bkg);
    margin-bottom: 30px;
}

.products__item-link__item-img {
    fill: none;
    display: none;
    position: absolute;
    top: 40%;  
    left: 50%;
    transform: translate(-50%, -50%);
}

.products__item-link__item-img-wrp {
    fill: var(--white);
}

.products__item-link__item-img:hover {
    fill: var(--pink-price);
}

.products__item-link__item-img:focus, .products__item-link__item-img:active {
    fill: var(--pink-color);
}

.products__item-overlay:before {
    display: none;
    content: '';
    width: 100%;
    min-height: 420px;
    background-color: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
}

.products__item:hover .products__item-overlay:before, 
.products__item:hover .products__item-link__item-img {
    display: block;
}

.products__item-title{
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--black-original);
    margin: 26px 0 12px 18px;
}

.products__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--grey-text);
    margin: 0 0 18px 18px;
}

.products__item-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--pink-price);
    margin: 0 0 20px 18px;
}

.products__btn {
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--pink-color);
    padding: 14px 38px;
    border: 1px solid;
}

.products__btn:hover {
    background-color: var(--pink-color);
    color: var(--white-text);
}

.products__btn:focus {
    background-color: var(--pink-bkg);
    color: var(--white-text);
}

.products__btn:active {
    background-color: var(--pink-price);
    color: var(--white-text);
}

.products__btn-wrp {
    display: flex;
    justify-content: center;
    margin-bottom: 95px;
}
