.review {
    background-image: url(../img/photo_subscribe.png);
    background-size: cover;
    min-height: 448px;
}

.review__wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.review__content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review__content-img {
    margin-top: 97px;
    margin-bottom: 30px;
}

.review__content-quote {
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    max-width: 360px;
    color: var(--black-bkg);
}

.review__sub {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.review__sub-subtitle {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    display: block;
}

.review__sub-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.review__sub-form__email {
    border: none;
    background-color: var(--grey-form);
    width: 300px;
    height: 49px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    padding-left: 22px;
    text-align: left;
    border-radius: 31px 0px 0px 31px;
}

.review__sub-form__email:hover, .review__sub-form__email:focus {
    outline: 1px solid var(--pink-price);
}

.review__sub-form__btn {
    border: none;
    width: 100px;
    height: 51px;
    background-color: var(--pink-price);
    border-radius: 0px 31px 31px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--white);
}

.review__sub-form__btn:hover, .review__sub-form__btn:focus, .review__sub-form__btn:active {
    background-color: var(--pink-color);
}

.review__sub-form {
    display: flex;
}

@media (max-width: 1599px) {
    .review__wrp {
        flex-direction: column;
    }
    .review__sub-form__email {
        margin-bottom: 140px;
    }
}

@media (max-width: 767px) {
    .review__sub-form__email {
        width: 200px;
        margin-bottom: 110px;
    }
}
