.title {
    height: 148px;
    background-color: var(--pink-bkg);
    margin-bottom: 64px;
}

.title__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-transform: uppercase;
    color: var(--pink-price);
    padding-top: 59px;
}